@mixin clearfix
{
&::after
{
    content: "";
    display: table;
    clear: both;
}
}


@mixin abscenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*MEDIA QURIES MANAGER

0-600px: phone
600px - 900px:tabulet
900px - 12000:landscap tabulet
{1200px -`1800px}IS  WHERE OUR NORMAL STAYLES START 
1800px  big desktop



 $breakpoint argument choice
   phone
   tab-port
   tab-land
   big-desktop

   ORDER+BASE>TYPOGRPHY>GENERAL LAYOUT>GRID>PAGE LAYOUT>COMPONENT

   1em = 16px
*/
@mixin respond($breakpoint) {
@if $breakpoint == phone {
    @media (max-width:37.5em) {@content}; //600px
}

@if $breakpoint == tab-port {
    @media (max-width:56.25em) {@content}; //900
}

@if $breakpoint == tab-land {
    @media (max-width:75em) {@content};  //1200
}

@if $breakpoint == big-desktop {
    @media (min-width:112.5em) {@content};   //1800
}

}
    
